body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f3fd;
      max-width: 100;
}

#spinner {
    display: none;
}
#error{
    display: none;
    color:rgb(194, 0, 0);
    background-color: rgb(255, 216, 216);
    border-radius: 10px;
}
#phone-details{
    background-color: rgb(219, 255, 254);
    display:none;
    border-radius: 10px;
}
a{
    color:white;
    text-decoration: none;
}
a:hover{
    color:white;
}

.custom-design {
    border: 1px solid rgb(112, 112, 112);
    padding:5px;
    font-size: 15px;
  }

  .image-dtl{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius:20px;
  }
